# FIXME: Configure environment variables for your project

# For security reason, don't push secret key in your git repo.
# Append .local to the environement files to prevent your secret key from being commited to Git.

# Hosting
# Replace by your domain name
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Database
ANALYZE=false
MONGODB_URI=mongodb://localhost:27017/nextjs-mongodb
REDIS_URL=redis://localhost:6379
TURBO_TELEMETRY_DISABLED=1 # Disable Turbo telemetry
NEXT_TELEMETRY_DISABLED=1 # Disable Next.js telemetry

######## [BEGIN] SENSITIVE DATA ######## For security reason, don't update the following variables (secret key) directly in this file.
######## Please create a new file named `.env.local`, all environment files ending with `.local` won't be tracked by Git.
######## After creating the file, you can add the following variables.
# Generate a random string using this command openssl rand -base64 32

SENTRY_AUTH_TOKEN=
# LOGTAIL_SOURCE_TOKEN=
######## [END] SENSITIVE DATA
